<% if signed_in? %>
<div class="text_center">
  <%= render 'shared/link_form' %>
  <%= render 'shared/feed' %>
</div>

<% else %>
<div class="welcome text_center bottomspaced">
Talksift is a text chat service that lets you view mutual friend info<br/> before you decide to interact with that person.
</div>
<div class="instruction_list_outer">
<% if session[:return_to] %>
<ol class="instruction_list">
  <li class="first">
    Sign in with <strong>facebook</strong>
  </li>
  <li>
    See if you have <strong>mutual friends</strong> with the link creator.
  </li>
  <li class="last">
    <strong>Chat</strong> with them!
  </li>
</ol>
<% else %>
<ol class="instruction_list">
  <li>
    Sign in with <strong>facebook</strong>
  </li>
  <li>
    Create <strong>links</strong> to <strong>share</strong> (on craigslist, your blog, etc)
  </li>
  <li>
   <strong>Chat</strong> with others! People who visit your link will see their <strong>mutual friends</strong> with you.  If they leave you a <strong>message</strong>, you'll see your mutual friends with them too.
  </li>
</ol>
<% end %>
</div>
<div class="text_center super_topspaced">
  <%= link_to image_tag("fb_login.gif", :alt => "login with facebook"), 'auth/facebook'%>
  <div class="fb_notice topspaced">
    We will not share any facebook data except for mutual friend info without your consent.
  </div>
</div>

<% end %>
