<div class="user_info">
  <a href="<%= user_path(current_user) %>">
    <span class="user_email">
      <%= current_user.email %>
    </span>
    <span class="links">
      <%= pluralize(current_user.links.count, "links") %>
    </span>
  </a>
</div>
