.link_info_table input{
    font-size:0.8em;
}

.link_info_table th{
    text-align:left;
}

.link_info_table td{
    text-align:left;
    padding-left:10px;
    padding-bottom:5px;
}

.links_table{
    border:1px solid #aaa;
    font-size:0.95em;
}

.links_table th{
    padding:10px 10px;
}

.links_table td{
    padding:10px 10px;
}

.links_table .even{
    background-color:#eeeeee;
}

.links_table input{
    font-size:0.8em;
}

.link_url{
    font-size:1.5em;
    padding-left:10px;
}

.box_shadow{
    -moz-box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.4);
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.4);
}

.display_name_form {
    background-color:#eee;
    padding:15px;
    width:500px;
}

.user_settings_form{
    background-color: #eee;
    padding:15px;
    width:500px;
}

.user_info_block{
    padding-top:8px;
    padding-bottom:8px;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    padding-left:10px;
    font-size:0.95em;
}

.user_info_header{
    color:#444;
    font-size:1em;
}

.fb_login_header{
    font-size:1em;
}

.fb_user_node_table{
    width:100%;
    font-size:0.95em;
}

.fb_user_node_table th.picture_header{
    vertical-align:middle;
}

.picture_check_box{
    margin-top:20px;
}

.fb_user_node_table th{
    text-align:left;
    vertical-align:top;
    padding-right:30px;
    color:#666;
    padding-bottom:5px;
}

.fb_user_node_table td{
    padding-bottom:5px;
}

.conversation_fb_user_node_table{
    
}

.conversation_fb_user_node_table th{
    text-align:left;
    vertical-align:top;
    padding-right:60px;
    color:#666;
    padding-bottom:5px;
}

.conversation_fb_user_node_table th.picture_header{
    vertical-align:middle;
}

.conversation_fb_user_node_table td{
    padding-bottom:5px;
}

#link_user_setting_name{
}

.conversation_block{
    background-color:#EDEFF4;
    padding:15px;
}

.conversation_block textarea{
    width:400px;
    height:90px;
}

.message_block {
    margin-left:0px;
}

.message_block.first{
    margin-left:10px !important;
}

.message_block h3 {
    font-size:0.9em;
}

.message_form_block{
    margin-top:8px;
}

.friend_block{
    margin-right:10px;
    margin-bottom:8px;
}

.friend_content{
    width:102px;
    font-size:11px;
    margin-top:3px;
    overflow:hidden;
    text-overflow: ellipsis;
    word-wrap:normal;
}

.friend_image{
    margin-right:5px;
}

.mutual_friends_block h3{
    color:#666;
    font-size:1em;
}