.welcome{
    font-size:1.1em;
    font-weight: bold;
    line-height:1.5em;
}

.instruction_list_outer {
    background-color:#EEE;
    padding:10px 60px;
    display:table;
    margin:0 auto;
}

.instruction_list{
    padding: 0 0 0 25px;
    display:table;
    margin:0 auto;
    width:500px;
}

.instruction_list li{
    margin: 0;
    padding: 10px 10px;
    font-size: 1.2em;
    
}

.instruction_list li.first {
}

.instruction_list li.last {
    border-bottom: none;
}

.fb_notice {
    font-size:0.8em;
}
