<footer>
  <div id="pageFooter" class="clearfix">
    <div id="pageFooterLeft">
      <span>talksift &copy; 2011</span>
    </div>
    <nav id="pageFooterNav">
      <ul>
        <li><%= link_to "Contact", 'mailto:info@talksift.com' %></li>
      </ul>
    </nav>
  </div>
</footer>
