<footer>
  <div id="pageFooter" class="clearfix">
    <div id="pageFooterLeft">
      <span>bibzy &copy; 2011</span>
    </div>
    <nav id="pageFooterNav">
      <ul>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
